@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.tarjeta a, .botonhorarios {
  margin-top: auto;
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/*!KEYFRAME */
.texto2 {
  animation: aparecer 6s ease-in-out;
}

.imagen-animada {
  animation: aparecer 8s ease-in-out;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.urbano {
  height: 50vh;
  background-image: url(../img/urbano.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  font-size: 50px;
  color: white;
}

.arabe {
  height: 50vh;
  background-image: url(../img/arabe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  font-size: 50px;
  color: white;
}

.jazz {
  height: 50vh;
  background-image: url(../img/jazz.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  font-size: 50px;
  color: white;
}

.equipo {
  height: 50vh;
  background-image: url(../img/equipo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  font-size: 50px;
  color: white;
}

.nuestrasclases {
  text-align: center;
  background-color: #f4e1a7;
  font-size: 25px;
  color: black;
  padding: 20px;
  margin: 20px 0px 20px 0px;
}

.horarios {
  background-color: #D6A821;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
}
.horarios a:hover {
  background-color: #d6a921;
}
.horarios a:hover:active {
  background-color: #d6a921;
}

.tarjeta {
  border: 1px solid black;
  width: 250px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}
.tarjeta :hover {
  transform: scale(1.1);
  box-shadow: 20px 10px 19px 0px #d6a921;
}
.tarjeta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.fixed {
  position: fixed;
  bottom: 50px;
  right: 20px;
}

.botones {
  text-align: right;
  text-decoration: none;
}

.contacto {
  text-align: center;
  background-color: white;
}
.contacto h4:hover {
  background-color: #D6A821;
  font-style: italic;
}
.contacto::selection {
  background-color: #d6a921;
  color: white;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;
  z-index: 100;
}
.carousel-item img caption H4 {
  color: #D6A821;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
.carousel-item img caption p {
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.navbar {
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
}

.dropdown-menu {
  background-color: white;
  border: none;
  box-shadow: none;
  text-align: center;
}
.dropdown-menu .item {
  border-radius: 30px;
  margin: 5px;
  color: black;
}

.principal {
  display: flex;
  align-items: stretch;
  gap: 20px;
}
.principal .texto1 {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.principal .texto2 {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.principal .texto2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 1005px) {
  .principal {
    flex-direction: column;
    text-align: center;
  }
  .texto1,
  .texto2 {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .botones ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .botones li {
    margin: 8px;
  }
  .galeria-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .imagen-grid {
    width: 100%;
  }
  section h2 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
    padding: 0 10px;
  }
  iframe {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 670px) {
  .galeria-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .imagen-grid {
    width: 100%;
    height: auto;
  }
  .equipo {
    width: auto;
    height: 100;
  }
  iframe {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 350px) {
  .galeria-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .imagen-grid {
    width: 100%;
    height: auto;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: white;
  padding: 10px;
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-style: normal;
  text-align: center;
}
header img {
  width: 230px;
  height: 95px;
}

main h2 {
  height: 90vh;
  background-image: url(../img/profesores.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  font-size: 50px;
  color: #d6a821;
}
main h2:hover {
  background-color: black;
  font-style: italic;
}
main h2:hover::selection {
  background-color: #d6a921;
  color: white;
}
main p {
  text-align: center;
  font-size: 20px;
}
main p::selection {
  background-color: #d6a921;
  color: white;
}
main h3 {
  height: 5vh;
}
main h3:hover {
  background-color: #d6a921;
  font-style: italic;
  color: white;
}

nav ul {
  list-style: none;
}
nav ul li {
  margin: 5px 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
  text-align: center;
  display: flex;
  display: inline-block;
}
nav ul li:hover {
  background-color: #d6a921;
  color: white;
  font-weight: bold;
}
nav ul li:hover a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
}
nav ul li:hover a:hover {
  color: white;
  font-weight: bold;
}

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.galeria-grid .imagen-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #d6a921;
  overflow: hidden;
  background-color: #fff;
}
.galeria-grid .imagen-grid img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.galeria-grid .imagen-grid h3 {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
}
.galeria-grid .imagen-grid h3::selection {
  background-color: #d6a921;
  color: white;
}
.galeria-grid .imagen-grid1 {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #d6a921;
  overflow: hidden;
  background-color: #fff;
}
.galeria-grid .imagen-grid1 img {
  width: 100%;
  height: 680px;
  object-fit: cover;
  object-position: center;
}
.galeria-grid .imagen-grid1 h3 {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
}
.galeria-grid .imagen-grid1 h3::selection {
  background-color: #d6a921;
  color: white;
}

.testimonio::selection {
  background-color: #d6a921;
  color: white !important;
}

footer section p {
  text-align: center;
  font-size: 20px;
}
footer section p::selection {
  background-color: #d6a921;
  color: white;
}
footer section p:hover {
  background-color: #d6a921;
  color: white;
}

/*# sourceMappingURL=estilos.css.map */
