@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}


/*!-----HEADER-----*/


header h1 {
    font-style: normal;
    text-align: center;
}

header h1 img {
    width: 230px;
    height: 95px;
}

header {
    background-color: white;
    padding: 10px;
    position: sticky;
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*----MAIN----*/

main section nav ul {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

header nav ul li {
    margin: 5px 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    display: flex;
    display: inline-block;

}

section h2 {
    background-image: url(../img/profesores.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-size: 50px;
    color: #d6a821;
}


/*!KEYFRAME */
.texto2 {
    animation: aparecer 6s ease-in-out;
}

.imagen-animada {
    animation: aparecer 8s ease-in-out;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*?-----FOOTER-----*/

footer a img {
    width: 50x;
    height: 50px;
}

section p {
    text-align: center;
    font-size: 20px;
}

/*-----CLASES-----*/

.tarjeta {
    border: 1px solid black;
    width: 250px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: 1s;
}

.tarjeta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.botonhorarios {
    margin-top: auto;
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.contacto {
    height: 100px;
    text-align: center;
    background-color: white;
    padding: 10px 5px;
}

.mapa {
    text-align: center;
    background-color: white;
    font-size: 15px;
    color: black;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    flex: 1;
}

.direccion {
    flex: 1;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

.principal {
    display: flex;
    align-items: stretch;
    gap: 20px;
}

.texto1 {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;

}

.texto2 {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.texto2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;

}

.titulo {
    text-align: center;
    background-color: #f4e1a7;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

footer h3 {
    height: 5vh;
}

.urbano {
    height: 50vh;
    background-image: url(../img/urbano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-size: 50px;
    color: white;
}

.arabe {
    height: 50vh;
    background-image: url(../img/arabe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-size: 50px;
    color: white;
}

.jazz {
    height: 50vh;
    background-image: url(../img/jazz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-size: 50px;
    color: white;
}

.equipo {
    height: 50vh;
    background-image: url(../img/equipo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-size: 50px;
    color: white;
}

.horarios {
    background: #D6A821;
    background: linear-gradient(358deg, rgba(214, 168, 33, 1) 0%, rgba(255, 231, 161, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

.fixed {
    position: fixed;
    bottom: 50px;
    right: 20px;

}

.botones {
    text-align: right;
    text-decoration: none;
}

.nuestrasclases {
    text-align: center;
    background-color: #f4e1a7;
    font-size: 25px;
    color: black;
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.redes {
    padding: 10px;
    background-color: white;
}

.redes p {
    margin: 15px;
}


/*------GRIDS-----*/

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.imagen-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #d6a921;
    overflow: hidden;
    background-color: #fff;
}

.imagen-grid img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;

}

.imagen-grid h3 {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
}

/*?-----GRID IMG 1 COLUMNA, 2  FILAS-----*/

.imagen-grid1 {
    grid-row: span 2;
}

.imagen-grid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #d6a921;
    overflow: hidden;
    background-color: #fff;
}

.imagen-grid1 img {
    width: 100%;
    height: 680px;
    object-fit: cover;
    object-position: center;
}

.imagen-grid1 h3 {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
}

/*-----PSEUDOCLASES--------------*/

.horarios a:hover {
    background-color: #d6a921;
    ;
}

.horarios a:active {
    background-color: rgb(182, 150, 24);
}

main section h3:hover {
    background-color: #d6a921;
    ;
    font-style: italic;
    color: white;
}

main section h2:hover {
    background-color: white;
    font-style: italic;
}

.contacto h4:hover {
    background-color: #d6a921;
    ;
    font-style: italic;
}

header nav ul li:hover {
    background-color: #d6a921;
    ;
    color: white;
    font-weight: bold;
}

header nav ul li a:hover {
    color: white;
    font-weight: bold;
}

.tarjeta:hover {
    transform: scale(1.1);
    box-shadow: 20px 10px 19px 0px #d6a921;
}

.dropdown-item:hover {
    background-color: #d6a921;
    ;
    color: white !important;
}

.dropdown-item:focus {
    background-color: #d6a921;
    ;
    color: white !important;
}


/*?-----------PSEUDOELEMENTOS--------------?*/


p::selection {
    background-color: #d6a921;
    color: white;
}

/*?-------------BOOTSTRAP-----------?*/

.carousel-item img {
    height: 500px;
    object-fit: cover;
    z-index: 100;
}

.carousel-caption H4 {
    color: #d6a921;
    ;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.carousel-caption p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

.container-fluid {
    background-color: white;
}

.navbar {
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-menu {
    background-color: white;
    border: none;
    box-shadow: none;
    text-align: center;

}

.dropdown-item {
    border-radius: 30px;
    margin: 5px;
    color: black;
}

/*!----------MEDIA QUERY---------!*/

@media (max-width: 1005px) {
    .principal {
        flex-direction: column;
        text-align: center;
    }

    .texto1,
    .texto2 {
        width: 100%;
    }
}

@media screen and (max-width:900px) {

    header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .botones ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .botones li {
        margin: 8px;
    }

    .galeria-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .imagen-grid {
        width: 100%;
    }

    section h2 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        padding: 0 10px;
    }

    iframe {
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width:670px) {

    .galeria-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .imagen-grid {
        width: 100%;
        height: auto;
    }

    .equipo {
        width: auto;
        height: 100;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    .mapa {
        flex-direction: column;
        align-items: center;
    }

    .direccion {
        width: 100%;
        text-align: center;
        align-items: 20px;
    }

}

@media screen and (max-width:350px) {
    .galeria-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .imagen-grid {
        width: 100%;
        height: auto;
    }

}