@import "./base/funcionalidades";
@import "./base/generales";
@import "./base/querys";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: white;
    padding: 10px;
    position: sticky;
    z-index: 100;
    top: 0;
    @include flex (flex, space-between, center);

    h1 {
        font-style: normal;
        text-align: center;
    }

    img {
        width: 230px;
        height: 95px;
    }

}

main {
    h2 {
        height: 90vh;
        background-image: url(../img/profesores.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        text-align: center;
        font-size: 50px;
        color: #d6a821;

        &:hover {
            background-color: nth($colores, 4);
            font-style: italic;

            &::selection {
                background-color: #d6a921;
                color: white;
            }
        }
    }

    p {
        text-align: center;
        font-size: 20px;

        &::selection {
            background-color: $color-principal;
            color: white;
        }
    }

    h3 {
        height: 5vh;

        &:hover {
            background-color: $color-principal;
            font-style: italic;
            color: white;
        }
    }
}

nav ul {
    list-style: none;

    li {
        margin: 5px 10px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 25px;
        text-align: center;
        display: flex;
        display: inline-block;

        &:hover {
            background-color: $color-principal;
            color: white;
            font-weight: bold;

            a {
                text-decoration: none;
                color: black;
                font-size: nth($font-size, 2);
                font-weight: 600;

                &:hover {
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;

    .imagen-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 1px #d6a921;
        overflow: hidden;
        background-color: #fff;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;
        }

        h3 {
            margin: 10px 0;
            font-size: 18px;
            text-align: center;

            &::selection {
                background-color: $color-principal;
                color: white;
            }
        }
    }


    .imagen-grid1 {
        grid-row: span 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 1px $color-principal;
        overflow: hidden;
        background-color: #fff;

        img {
            width: 100%;
            height: 680px;
            object-fit: cover;
            object-position: center;
        }

        h3 {
            margin: 10px 0;
            font-size: 18px;
            text-align: center;

            &::selection {
                background-color: $color-principal;
                color: white;
            }

        }
    }
}

.testimonio::selection {
    background-color: #d6a921;
    ;
    color: white !important;
}

footer {

    section p {
        text-align: center;
        font-size: 20px;

        &::selection {
            background-color: #d6a921;
            ;
            color: white;
        }

        &:hover {
            background-color: #d6a921;
            ;
            color: white;
            ;
        }
    }
}
