//*VARIABLES - Asignacion de un valor

$color-principal: #d6a921;
$color-secundario: #f4e1a7;

//*EXTENDS

%boton {
    margin-top: auto;
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

//*LISTA - Para agrupar valores a un solo elemento

$colores: #d6a921,
    #f4e1a7,
    #D6A821,
    black,
    white;

$font-size: (10px,
    15px,
    20px,
    25px,
    50px
);

//*MIXIN - Agrupan propiedades

@mixin flex($flex, $justify, $aling) {
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
}

@mixin font-size($size, $weight, $style) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
}

@mixin background($size, $repeat, $position, $attachment) {
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
    background-attachment: $attachment;
}

/*!KEYFRAME */

.texto2 {
    animation: aparecer 6s ease-in-out;
}

.imagen-animada {
    animation: aparecer 8s ease-in-out;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}